.content{
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


/*Common
*****************/
html,
body{
    margin: 0;
}
img.twitterlog{
    width:10%;

}

.logodiv {
    display: flex;
    padding-left: 1%;
    border-bottom: 1px solid #ccc;
    gap: 2%;
    padding-bottom: 2%; 
    
}


#edit-name{
border: 0px;
padding: 10px;
width: 100%;
height: 100px;
resize: none;
}

#update-button{
margin-top: 10px;
background-color: rgb(0, 119, 255);
color: white;
font-weight: bold;
font-size: 15px;
}

#delete{
background-color: rgb(0, 0, 6);
color: white;
width: 40%;
font-weight: bold;
}

#inp-img{
    width: 40%;
}

input#update-button {
width: 40%;
padding-top: 10px; 
position: relative;
top: -10px;
}
/*
Post
******************/

.posts_form{
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;

}
.posts_form .submit-class {
    width: 40%;
    display: block;
    background-color: rgb(29, 161, 242);
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-left: 30%;
} 

.posts_form input {
 
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 70%;
    margin-left: 15%;
}

.content .posts_form input[type=text]{
    border: 0px;
    width: 70%;
    background: #e6fef7;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 5px;
    margin-left: 15%;
}

.posts_form textarea{
    width: 70%;
    padding: 10px 5px;
    border: 1px solid #ccc;
    margin-left: 15%;
    resize: none;
}

.posts_form .my-icon .user-icon{
    position: relative;
    width: 4vw;
    border-radius: 50%;
    padding: 0;
    top: 47px;
}



.posts ul{
    padding: 0;
}
.posts li{
    display: flex;
    border-bottom: 1px solid#ccc;
    padding: 20px 0;
    position: relative;
    list-style: none;

}

.posts .my-icon .user-icon{
    margin: 0 20px;
    width:5vw;
    border-radius: 50%;
    padding: 0;
}

.posts li .menu_icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 24px;
    top: 13px;
}
.posts li .menu a{
    text-decoration: none;
}



.posts li .logo{
    flex-basis: 15%;
}
.posts li .logo img{
    width: 60%;
}

.posts li .menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid white;
    background-color: white;
    font-size: 13px;
    border-radius: 3px;
}
.posts li .name_body{
    flex-basis: 85%;
}
.posts li .name_body .body img {
    width: 30vw;
    border-radius: 0;
    padding: 0;
}
.posts li .name_body .name{
    font-weight: bold;

}
.posts li .name_body .datetime{
    color: grey;
    
}

#like-form .like-button{
    background-color: white;
    border: none;
    color: rgb(220, 16, 16);
    width: 25px;
    height: 25px;
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .posts li .name_body .name{
    font-size: 30px;
    }
    .posts_form .my-icon .user-icon{
        position: relative;
        width: 5vw;
        border-radius: 50%;
        padding: 0;
        top: 35px;
        left: 22px;
    }
    
}

  